<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Daily Journal</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!--  Jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--  tinyMCE-->
    <script src="https://cdn.tiny.cloud/1/g84jfrcjexc1hpv44a96zytvsqx22ktpqnxenix6a6yembx2/tinymce/5/tinymce.min.js"
            referrerpolicy="origin"></script>
    <!--  select2-->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap-social.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login_styles.css">


    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <p class="navbar-brand"><a href="/">DAILY JOURNAL</a></p>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li id="home"><a href="/">HOME</a></li>
                <li id="about"><a href="/about">ABOUT US</a></li>
                <li id="contact"><a href="/contact">CONTACT US</a></li>
                <% if(typeof (user) !== "undefined"){ %>
                    <li id="compose"><a href="/compose/user-<%= user._id %>">COMPOSE</a></li>
                    <li id="login"><a href="/logout">LOGOUT</a></li>
                <% } else { %>
                    <li id="login"><a href="/login">LOGIN</a></li>
                <% } %>
            </ul>
        </div>
    </nav>

<body>
<div class="container">
